@import "tailwindcss";
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-manrope)
}

@layer components {
  .svg-animate {
    stroke-dashoffset: 100;
    stroke-dasharray: 100;
    animation: dash 2s linear forwards; 
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
